QUANLYKHACHSAN_PHANTAN/Connected Services/NhanVien_Wcf/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NhanVien_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaLamViec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChucVu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_nhanvien" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanVien_Ent" nillable="true" type="tns:NhanVien_Ent" />
  <xs:complexType name="ArrayOfNhanVien_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanVien_Ent" nillable="true" type="tns:NhanVien_Ent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanVien_Ent" nillable="true" type="tns:ArrayOfNhanVien_Ent" />
</xs:schema>