QUANLYKHACHSAN_PHANTAN/Connected Services/DichVu_Wcf/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDichVu_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DichVu_Ent" nillable="true" type="tns:DichVu_Ent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDichVu_Ent" nillable="true" type="tns:ArrayOfDichVu_Ent" />
  <xs:complexType name="DichVu_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGia" type="xs:double" />
      <xs:element minOccurs="0" name="Id_DichVu" type="xs:int" />
      <xs:element minOccurs="0" name="Id_LoaiDichVu" type="xs:int" />
      <xs:element minOccurs="0" name="TenDichVu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenLoaiDichVu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DichVu_Ent" nillable="true" type="tns:DichVu_Ent" />
</xs:schema>