QUANLYKHACHSAN_PHANTAN/Connected Services/KhachHang_Wcf/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKhachHang_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhachHang_Ent" nillable="true" type="tns:KhachHang_Ent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhachHang_Ent" nillable="true" type="tns:ArrayOfKhachHang_Ent" />
  <xs:complexType name="KhachHang_Ent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_of_birth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gioi_tinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_khach" type="xs:int" />
      <xs:element minOccurs="0" name="Quoc_tich" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="So_cmnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sodienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHang_Ent" nillable="true" type="tns:KhachHang_Ent" />
</xs:schema>