QUANLYKHACHSAN_PHANTAN/Connected Services/KhachHang_Wcf/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KhachHang_WCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKhachHang_WCF_GetKhachHangs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangs" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_GetKhachHangs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangsResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_ThemKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_ThemKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_CapNhatKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_CapNhatKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_TimKiem_KhachHang_by_CMND_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiem_KhachHang_by_CMND" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_WCF_TimKiem_KhachHang_by_CMND_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiem_KhachHang_by_CMNDResponse" />
  </wsdl:message>
  <wsdl:portType name="IKhachHang_WCF">
    <wsdl:operation name="GetKhachHangs">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang_WCF/GetKhachHangs" message="tns:IKhachHang_WCF_GetKhachHangs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang_WCF/GetKhachHangsResponse" message="tns:IKhachHang_WCF_GetKhachHangs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang_WCF/ThemKhachHang" message="tns:IKhachHang_WCF_ThemKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang_WCF/ThemKhachHangResponse" message="tns:IKhachHang_WCF_ThemKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang_WCF/CapNhatKhachHang" message="tns:IKhachHang_WCF_CapNhatKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang_WCF/CapNhatKhachHangResponse" message="tns:IKhachHang_WCF_CapNhatKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiem_KhachHang_by_CMND">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang_WCF/TimKiem_KhachHang_by_CMND" message="tns:IKhachHang_WCF_TimKiem_KhachHang_by_CMND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang_WCF/TimKiem_KhachHang_by_CMNDResponse" message="tns:IKhachHang_WCF_TimKiem_KhachHang_by_CMND_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKhachHang_WCF" type="tns:IKhachHang_WCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKhachHangs">
      <soap:operation soapAction="http://tempuri.org/IKhachHang_WCF/GetKhachHangs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang_WCF/ThemKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang_WCF/CapNhatKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiem_KhachHang_by_CMND">
      <soap:operation soapAction="http://tempuri.org/IKhachHang_WCF/TimKiem_KhachHang_by_CMND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhachHang_WCF">
    <wsdl:port name="BasicHttpBinding_IKhachHang_WCF" binding="tns:BasicHttpBinding_IKhachHang_WCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QuanLyKhachSan_Wcf/KhachHang_WCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>