QUANLYKHACHSAN_PHANTAN/Connected Services/KhachHang_Wcf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="GetKhachHangs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHangsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetKhachHangsResult" nillable="true" type="q1:ArrayOfKhachHang_Ent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="kh_ent" nillable="true" type="q2:KhachHang_Ent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKhachHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="kh_ent" nillable="true" type="q3:KhachHang_Ent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatKhachHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiem_KhachHang_by_CMND">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiem_KhachHang_by_CMNDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimKiem_KhachHang_by_CMNDResult" nillable="true" type="q4:ArrayOfKhachHang_Ent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHang_byCMND">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHang_byCMNDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetKhachHang_byCMNDResult" nillable="true" type="q5:KhachHang_Ent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>