QUANLYKHACHSAN_PHANTAN/Connected Services/PhieuCheckIn_Wcf/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhieuCheckIn_WCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhieuCheckIn_WCF_ThemPhieuCheckIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPhieuCheckIn" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_ThemPhieuCheckIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPhieuCheckInResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_lsPhieuCheckIn_ToDate_InputMessage">
    <wsdl:part name="parameters" element="tns:lsPhieuCheckIn_ToDate" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_lsPhieuCheckIn_ToDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:lsPhieuCheckIn_ToDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetPhieuCheckIns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhieuCheckIns" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetPhieuCheckIns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhieuCheckInsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetKh_ChuaThanhToan_ByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKh_ChuaThanhToan_ByID" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetKh_ChuaThanhToan_ByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKh_ChuaThanhToan_ByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_ThemPhieuCheckIn_DichVu_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPhieuCheckIn_DichVu" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_ThemPhieuCheckIn_DichVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPhieuCheckIn_DichVuResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetPhieuCheckIns_NoCheckOut_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhieuCheckIns_NoCheckOut" />
  </wsdl:message>
  <wsdl:message name="IPhieuCheckIn_WCF_GetPhieuCheckIns_NoCheckOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhieuCheckIns_NoCheckOutResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhieuCheckIn_WCF">
    <wsdl:operation name="ThemPhieuCheckIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckIn" message="tns:IPhieuCheckIn_WCF_ThemPhieuCheckIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckInResponse" message="tns:IPhieuCheckIn_WCF_ThemPhieuCheckIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lsPhieuCheckIn_ToDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/lsPhieuCheckIn_ToDate" message="tns:IPhieuCheckIn_WCF_lsPhieuCheckIn_ToDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/lsPhieuCheckIn_ToDateResponse" message="tns:IPhieuCheckIn_WCF_lsPhieuCheckIn_ToDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhieuCheckIns">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckIns" message="tns:IPhieuCheckIn_WCF_GetPhieuCheckIns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckInsResponse" message="tns:IPhieuCheckIn_WCF_GetPhieuCheckIns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKh_ChuaThanhToan_ByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetKh_ChuaThanhToan_ByID" message="tns:IPhieuCheckIn_WCF_GetKh_ChuaThanhToan_ByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetKh_ChuaThanhToan_ByIDResponse" message="tns:IPhieuCheckIn_WCF_GetKh_ChuaThanhToan_ByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuCheckIn_DichVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckIn_DichVu" message="tns:IPhieuCheckIn_WCF_ThemPhieuCheckIn_DichVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckIn_DichVuResponse" message="tns:IPhieuCheckIn_WCF_ThemPhieuCheckIn_DichVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhieuCheckIns_NoCheckOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckIns_NoCheckOut" message="tns:IPhieuCheckIn_WCF_GetPhieuCheckIns_NoCheckOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckIns_NoCheckOutResponse" message="tns:IPhieuCheckIn_WCF_GetPhieuCheckIns_NoCheckOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhieuCheckIn_WCF" type="tns:IPhieuCheckIn_WCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemPhieuCheckIn">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lsPhieuCheckIn_ToDate">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/lsPhieuCheckIn_ToDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhieuCheckIns">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckIns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKh_ChuaThanhToan_ByID">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/GetKh_ChuaThanhToan_ByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuCheckIn_DichVu">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/ThemPhieuCheckIn_DichVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhieuCheckIns_NoCheckOut">
      <soap:operation soapAction="http://tempuri.org/IPhieuCheckIn_WCF/GetPhieuCheckIns_NoCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhieuCheckIn_WCF">
    <wsdl:port name="BasicHttpBinding_IPhieuCheckIn_WCF" binding="tns:BasicHttpBinding_IPhieuCheckIn_WCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QuanLyKhachSan_Wcf/PhieuCheckIn_WCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>